<main *ngIf="!IsEditing">
    <div id="imageDiv">
        <img src="{{photo | async}}" alt="ProfilePicture">
        <button id="editButton" (click)="toggleEdit()">Update profile image</button>
    </div>

    <div id="infoDiv">
        <section>
            <h3>Username: <span class="font-weight-bold">{{username}}</span></h3>
        </section>

        <section *ngIf="!this.isEntitiesLoaded">
            <p>Loading ideas...</p>
        </section>
        <!-- <section id="ideas" *ngIf="this.ideasNames | async as ideas">
            <p>Has {{ideas.length}} ideas =)</p>
            <ng-container *ngFor="let idea of ideas">
                <a class="font-weight-bold link" href="/idea/detail/{{idea._id}}">{{idea.title}}</a>
            </ng-container>
        </section> -->
    </div>
</main>

<main *ngIf="IsEditing">
    <form (ngSubmit)="onSubmit()" [formGroup]="profilePicForm" class="form-user col-md-7">
        <div class="form-label-group formGroupItem">
            <label for="picture">URL:</label>
            <input type="text" id="picture" name="picture" class="form-control" placeholder="Image URL..." required
                formControlName="picture">
            <div *ngIf="f.picture.errors?.required && 
            f.picture.touched">
                <p class="text-danger">Image URL is required!</p>
            </div>
        </div>
        <div id="btnDiv">
            <button id="editButton" (click)="onSubmit()">
                <ng-container *ngIf="loading">
                    <app-loader></app-loader>
                </ng-container>
                <ng-container *ngIf="!loading">
                    Apply image
                </ng-container>
            </button>
        </div>
    </form>
    <hr>
    <div id="imagePreview">
        <p>Preview:</p>
        <img src="{{f.picture.value}}" alt="Picture">
    </div>
</main>