.logoutItem {
  display: flex;
}

.logoutLink{
    cursor: pointer;
}

.loader {
    border: 3px solid #dfae0cd0; 
    border-top: 3px solid #000;
    border-radius: 50%;
    margin: auto;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }