<div *ngIf="!this.ideaDetails$">
    <app-notifications [loadingMessage]="notificationMessage"></app-notifications>
</div>

<ng-container *ngIf="this.ideaDetails$ | async as idea">
    <div class="container home some">
        <img class="det-img" src="{{idea.imageURL}}" />
        <div class="desc">
            <h2 class="display-5">{{idea.title}}</h2>
            <p class="infoType">Description:</p>
            <p class="idea-description">{{idea.description}}</p>
            <p class="infoType">Likes: {{idea.likes}}
            </p>
            <p class="infoType">Comments:</p>
            <p *ngIf="!idea.comments" class="comment">No comments yet :(</p>
            <ul *ngIf="idea.comments">
                <ng-container *ngFor="let comment of idea.comments">
                    <li class="comment">{{comment.username}}: {{comment.content}}</li>
                </ng-container>
            </ul>
        </div>

        <ng-container *ngIf="IfThereIsUser">
            <div *ngIf="IsUserPublisher(idea?._acl?.creator)" class="text-center">
                <a class="btn del-btn" href="#delete">Delete</a>
            </div>
            <form *ngIf="!IsUserPublisher(idea?._acl?.creator)" class="text-center mb-4" [formGroup]="commentLikeform">
                <textarea class="textarea-det" name="newComment" formControlName="newComment" cols="40"
                    rows="2"></textarea>
                <button type="submit" class="btn detb">Comment</button>
                <a class="btn detb" href="#liked">Like</a>
            </form>
        </ng-container>

    </div>
</ng-container>