<div *ngIf="!isIdeaLoaded">
    <app-notifications [loadingMessage]="notificationMessage"></app-notifications>
</div>

<ng-container *ngIf="this.ideaDetails$ | async as idea">
    <div class="container home some">
        <h2 class="display-5">{{idea.title}}</h2>
        <img class="det-img" src="{{idea.imageURL}}" />
        <p class="idea-description">{{idea.description}}</p>
        <hr class="line">
        <div>
            <p class="infoType likes">Likes: {{idea.likes}}
            </p>

            <ng-container *ngIf="IfThereIsUser">
                <div *ngIf="IsUserPublisher(idea._acl?.creator)" class="text-center m-0">
                    <a class="btn del-btn" [routerLink]="" (click)="deleteIdea(idea._id)">Delete</a>
                </div>
                <form *ngIf="!IsUserPublisher(idea._acl?.creator)" class="text-center" [formGroup]="commentform">
                    <textarea class="textarea-det" name="newComment" formControlName="newComment" rows="2"
                        placeholder="Comment here..."></textarea>
                    <div>
                        <button type="submit" class="btn detb" (click)="this.commentIdea(idea)">Comment</button>
                        <a class="btn detb infoType likes" [routerLink]="" (click)="likeIdea(idea)">Like</a>
                    </div>
                </form>
            </ng-container>
            <hr class="line">
            <p class="infoType">Comments:</p>
            <p *ngIf="idea.comments.length == 0" class="comment">No comments yet :(</p>
            <ul *ngIf="idea.comments" class="comments mb-5">
                <ng-container *ngFor="let comment of idea.comments.reverse()">
                    <li class="comment blink">{{comment.Username}}: {{comment.Content}}</li>
                </ng-container>
            </ul>
        </div>




    </div>
</ng-container>