<div class="container home some" *ngIf="!IsIdeaFound">
    <app-notfound></app-notfound>
</div>

<div class="container home some" *ngIf="isIdeaLoaded">
    <h2 class="display-5 title">{{ideaModel.title}}</h2>
    <img class="det-img" src="{{ideaModel.imageURL}}" />
    <div *ngFor="let description of ideaDescriptionList">
        <p class="idea-description">{{description}}</p>
    </div>

    <hr class="line">
    <div>
        <p class="infoType likes">Likes: {{ideaModel.likes}}</p>

        <ng-container>
            <div *ngIf="IsUserPublisher(ideaModel.creatorId)" class="text-center m-0 ">
                <a class="btn bg-info col-2" [routerLink]="editLink">Edit</a>
                <a class="btn bg-danger col-2" (click)="deleteIdea()">Delete</a>
            </div>
            <form *ngIf="!IsUserPublisher(ideaModel.creatorId)" class="text-center" [formGroup]="commentform">
                <textarea class="textarea-det" name="newComment" formControlName="newComment" rows="2"
                    placeholder="Comment here..."></textarea>
                <div>
                    <button type="submit" class="btn detb" (click)="this.commentIdea(ideaModel)">Comment</button>
                    <a class="btn detb infoType likes" (click)="likeIdea(ideaModel)">Like</a>
                </div>
            </form>
        </ng-container>
        <p></p>
        <p class="infoType">Comments:</p>
        <p *ngIf="!comments$?.length" class="comments comment">No comments yet :(</p>
        <ul class="comments mb-5 pb-5">
            <ng-container *ngFor="let comment of comments$?.reverse()">
                <li class="comment">{{comment.Username}}: {{comment.Content}}</li>
            </ng-container>
        </ul>
    </div>
</div>