.customNotif {
    position: absolute;
    bottom: 8%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.notifDiv {
    display: flex;
    width: 50%;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
}

.resetButton {
    display: inline-block;
    background-color:rgba(0, 0, 0, 0);
    border: none;
}